<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  
  
  <bean id="emp1" class="com.java.services.Employee">
  <constructor-arg value="01"/>
  <constructor-arg value="Rohan"/>
  <constructor-arg value="LasVegas"/>
  <constructor-arg value="3234.44"/>
  </bean>
  
    <bean id="emp2" class="com.java.services.Employee">
  <constructor-arg name="empId" value="02"/>
  <constructor-arg name="name" value="Ramesh"/>
  <constructor-arg name="city" value="Vegas"/>
  <constructor-arg name="salary" value="325454.44"/>
  </bean>
  	
  </beans>